@model IEnumerable<CAM.Core.Domain.Site>

@{
    ViewBag.Title = "Home Page";
}

@section featured {
}

<ul>
    @foreach(var site in Model)
    {
        <li>@site.Name
            <ul>
                @foreach(var unit in site.Units)
                {
                    <li>@unit.Name</li>
                }
            </ul>
        </li>
    }
</ul>