@using CAM.Resources
@model HomeIndexViewModel

@{
    ViewBag.Title = "Home Page";

    ViewBag.Group = PageGroups.Home;
}

@section subhead
{
    @if (Model.HasSite())
    {
        <h1>CA&ES Computer Account Request</h1>
        
        <p>Please select a CA&ES Dean's Office workgroup that the new user will be apart of.  If more than one, please select the primary workgroup.  If available select from a template based on their job title.</p>
    }
}

@if (!Model.HasSite())
{
    <ul>
        @foreach(var site in Model.Sites)
        {
            <li>
                @Html.ActionLink(site.Name, "Index", new {@site=site.Id})
            </li>    
        }
    </ul>
}
else
{
    <div class="tile-menu">
        <div class="row">
            <a href="@Url.Action("SelectUnit", "Request")" class="span4 btn-success tile">
                <i class="icon-plus-sign-alt icon-4x"></i>
                <h3>Create Request</h3>
            </a>
            <a href="#" class="span4 btn-info tile">
                <i class="icon-reorder icon-4x"></i>
                <h3>View Status</h3>
            </a>
            <a href="#" class="span4 btn-danger tile">
                <i class="icon-minus-sign icon-4x"></i>
                <h3>Close Account</h3>
            </a>
        </div>
    </div>
}

@section AdditionalScripts
{
@*    

    <script type="text/javascript">

        var loadUrl = '@Url.Action("LoadTemplates")';

        $(function () {
            $(".selectUnit").click(function () {

                var $container = $("#templates");
                $container.empty();
                $container.hide();
                

                
            });
        });
    </script>


    
    <style type="text/css">
    #templates li
    {
        margin: 1em 0;
    }
    </style>*@

}
