@*@if (Request.IsAuthenticated) {
    <div class="btn-group pull-right">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="icon-user"></i> Username
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="#">Profile</a></li>
            <li class="divider"></li>
            <li><a href="#">Sign Out</a></li>
        </ul>
    </div>
} else {
    <div class="btn-group pull-right">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="icon-user"></i> Username
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="#">Profile</a></li>
            <li class="divider"></li>
            <li><a href="#">Sign Out</a></li>
        </ul>
    </div>
}*@


<ul class="nav pull-right">
    <li>
        <div style="color: white; padding: 20px 15px 20px;"><i class="icon-user"></i>Welcome @Context.User.Identity.Name</div>
    </li>
    <li>
        <a href="@Url.Action("Logout", "Account")">
            <i class="icon-signout"></i>
            Logout
        </a>
    </li>
</ul>