@model RequestViewModel

<legend>Security Groups</legend>

<div class="control-group">
    <fieldset>
        <div class="control-group">
            @Html.LabelFor(model => model.Request.SecurityGroups, new {@class="control-label"})
            <div class="controls">
                <ul class="unstyled col-list">
                    @foreach(var sg in Model.GetSecurityGroups().OrderBy(a => a.Text))
                    {
                        <li>
                            <label class="checkbox">
                                <input type="checkbox" name="Request.SecurityGroups" value="@sg.Value" @(sg.Selected ? "checked" : string.Empty)/>
                                @sg.Text
                            </label>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </fieldset>
</div>

